.container {
  height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.color-box {
  height: 300px;
  width: 300px;
}

.right-container {
  height: 300px;
  width: fit-content;
  line-height: 30px;
}

.summary-container {
  margin-top: 40px;
}

.color-name {
  display: inline-block;
  width: 100px;
}

.slider-bar {
  margin-right: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.value-input {
  margin-right: 5px;
}